<footer>
  <div class="app-footer">
    <p>&copy; {{ currentYear }} Miguel Alonso. All Rights Reserved</p>
    <div class="social-icons">
      <a href="https://www.linkedin.com/in/your-linkedin" target="_blank">
        <img src="path_to_linkedin_icon" alt="LinkedIn">
      </a>
      <a href="https://github.com/your-github" target="_blank">
        <img src="path_to_github_icon" alt="GitHub">
      </a>
      <a href="https://alonsomiguel.com/" target="_blank">Visit my personal website</a>
    </div>
  </div>
</footer>
