<footer>
  <div class="app-footer">
    <p>&copy; {{ currentYear }} Miguel Alonso. All Rights Reserved</p>
    <div class="social-icons">
      <a href="https://www.linkedin.com/in/migalonso/" target="_blank" title="Miguel's LinkedIn">
        <fa-icon [icon]="['fab', 'linkedin']" [animation]="'bounce'" [size]="'lg'"></fa-icon>
      </a>
      <a href="https://github.com/MiguelAlonso1/AngularDotNetApp" target="_blank" title="Miguel's GitHub">
        <fa-icon [icon]="['fab', 'github']" [animation]="'bounce'" [size]="'lg'"></fa-icon>
      </a>
      <a href="https://alonsomiguel.com/" target="_blank">alonsomiguel.com</a>
    </div>
  </div>
</footer>
